.news-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  margin: 30px auto;
  padding: 40px 70px;
  width: 54%;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.08);
}

.news-page__button {
  background: transparent;
  background-image: url('../../images/back.svg');
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  transition: opacity 0.1s;
  margin-bottom: 10px;
}

.news-page__button:hover {
  opacity: 0.7;
}

.news-page__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  color: #000;
  margin: 0;
}

.news-page__about {
  display: flex;
  column-gap: 30px;
  margin: 30px 0 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D0D5DD;
}

.news-page__info {
  margin: 0;
  line-height: 1.3;
  color: #000;
}

.news-page__link {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.3;
  color: #ff6600;
}
