.header {
  margin: 0;
  background: #ff6600;
  column-gap: 30px;
  width: 100%;
}

.header__info-zone {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding: 0 70px;
}

.header__logo-zone {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.header__logo {
  max-width: 50px;
}

.header__title {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.header__button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.1s;
}

.header__button:hover {
  opacity: 0.7;
}